/* - White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%) */
body {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: hsl(275, 100%, 97%);
}
.div-1 {
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin-top: -100px;
  position: relative;
  z-index: 10;
}
.star {
  display: flex;
  gap: 20px;
}
.minus {
  display: flex;
  gap: 70px;
}
.plus-1 {
  display: flex;
  gap: 200px;
}
.plus-2 {
  display: flex;
  gap: 47px;
}
.plus-3 {
  display: flex;
  gap: 80px;
}
.plus {
  align-items: center;
}
p {
  color: hsl(292, 16%, 49%);
}
h1 {
  color: hsl(292, 42%, 14%);
}
h5 {
  color: hsl(292, 42%, 14%);
}
.div-2 {
  align-items: center;
  height: 100%;
  width: 100%;
}
.img-1 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.div-1-parent {
  justify-content: center;
  display: flex;
  align-items: center;
}
